

.background-radial-gradient {
  background-color: #439acd;
 transition: background-color 0.5s ease;
}

.hero-title {
  font-family: "Volkhov", "DM Serif Display", cursive;
 font-weight: 700;
 font-size: 2.88651rem;
 color: #58473a;
 margin-bottom: 5px;
 position: relative;
 z-index: 1;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
 backdrop-filter: saturate(200%) blur(25px);
}

.centered-container {
  display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
}

.forgotPassword:hover {
  cursor: pointer;
}

.loginButton {
 background-color: #439acd;
 padding-left: 40px;
 padding-right: 40px;
 border-radius: 5px;
 color: white;
 padding-top: 10px;
 padding-bottom: 10px;
}